<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="logo">FOLIo</div>
        <div class="search">
            <div class="form-input">
                <form id='searchForm' action="{% url 'projects' %}" class="form-search" method="get">
                   <input type="text" class="input-search-1" placeholder="Поиск" id="formInput#search" name="search_query"
                   value="{{ search_query }}">
                   <button class="button-img">
                    <img src="{% static 'img/пупа.png' %}" alt="search" >
                   </button>
            {% if request.user.is_authenticated %}
                <a href="" class="text1">Для вас</a>
                <a href="" class="text2">Подписки</a>
                <a href="{% url 'inbox' %}" class="text3">Чаты</a>
                <a href="" class="text4">Вы сохранили</a>
                <a href="" class="text5">О нас</a>
                <img class="around" src="{% static 'img/Ellipse 4.png' %}" alt="around">
                    <img class="profile" src="{{ profile.image.url }}" alt="profile">
                <nav class="menu" id="menu">
                    <a class="close" href="javascript:void(0)" onclick="closeMenu()">&#10006;</a>
                    <a href="{% url 'account' %}">Профиль</a>
                    <a href="{% url 'logout' %}">Выход</a>
                </nav>
                <span onclick="openMenu()"><img class="arrow" src="{% static 'img/стрелка.png' %}" alt="arrow"></span>
                <script src="{% static 'js/mainPage.js' %}"></script>
            {% else %}
                   <a href="{% url 'login' %}" class="text4">Войти</a>
                    <a href="{% url 'register' %}" class="text5">Зарегистрироваться</a>
            {% endif %}
    </header>
        <container>
            <div class="post-logo">
                <img class="post-logo-img" src="{% static 'img/изображение 4.png' %}" alt="post-logo-img">
                <p class="post-logo-text">Создавай и делись вместе с FOLIo</p>
            </div>
        </container>

    <section>
        {% for project in projects %}
            <div class="block">
                <div class="block-panel">
                    <div class="title">{{ project.title }}</div>
                </div>
                <a href="{% url 'project' project.slug %}" class="project">
                    <img class="block-inpanel" src="{{ project.image.url }}" alt="скриншот проекта"/>
                </a>
                <a href="{% url 'user-profile' project.owner %}">
                    <img class="avatar" src="{{ project.owner.image.url }}" alt="image" />
                </a>
                <p><a class="nickname" href="{% url 'user-profile' project.owner %}">{{ project.owner.name }}</a></p>
                <img class="heart" src="{% static 'img/Union.png' %}">
                <img class="comment" src="{% static 'img/Group 2.png' %}">
                <p class="like">{{ project.total_votes }}</p>
                <p class="comm">{{ review.count }}</p>
                {% for tag in project.tags.all %}
                    <div class="tegs">{{ tag }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
<div>
</body>
{% include 'pagination.html' with queryset=projects custom_range=custom_range %}
</html>